<!DOCTYPE html>
<html lang="en">
<!--Zeppelin-->
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>Zepplin - Dynamic Bus Routes</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../stylesheets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/css/custom.css">
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="../images/logo.png" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Features</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
            </li> -->
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<section id="home" class="space" >
        
    </section>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2>Optimized bus routes</h2>
                        <p>
                            <br>
                            <br>
                            <br>
                            Bus routes need to be updated according to their usage by the people.<br><br>

                            Bus routes in a lot of cities are not updated for decades.

                            New bus routes can be created using the following:

                            <ul>
                                <li>Existing bus routes</li>
                                <li>Population chart of city - Heat Map</li>
                                <li>Average Ticket sales of each bus stand</li>
                            </ul>
                            <br>

                            An algorithm to provide detours in bus routes or modifications to the existing routes, including or excluding bus stands with highest population density as the primary criterion. 
                            <br>
                            <br>
                            Optimization has many advantages - <br>
                            <br>
                            Improves the traffic scenario across the whole city.
                            <br>
                            Mitigation of pernicious pollution caused by buses in the populated regions of the city.
                        </p>
                        

                        
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="../images/Current.png" alt="" class="img-fluid img-rounded">
                        <div class="spacel" ></div>
        
    
                        <img src="../images/Recommended.png" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    



    

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
				<a href="#"><img src="../images/logo.png" alt="" /></a>
                <div class="footer-center">
                    <p class="footer-links">
                        <a href="#">Home</a>
                        <a href="#">Blog</a>
                        <a href="#">Pricing</a>
                        <a href="#">About</a>
                        <a href="#">Faq</a>
                        <a href="#">Contact</a>
                    </p>
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">OnNext</a> Design By :
					<a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
	<!-- Camera Slider -->
	<script src="../js/jquery.mobile.customized.min.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
	<script src="../js/parallaxie.js"></script>
	<script src="../js/headline.js"></script>
	<!-- Contact form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.vide.js"></script>

</body>
</html>
